/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}
/*globlstyle*/

html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--dark-color);
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
section{
    padding: 5rem 0;
}

/*addvenue styles*/

.addvenue{
    background-image: var(--gradient-color);
    margin-top: 12rem;
}

.inpur-group{
    margin-bottom: 1.5rem;
    display: block;
}

.input-group{
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
}

/*admin style*/

.adminreview{
    background-image: var(--purple-solid);
}