/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}
/*globlstyle*/

html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--dark-color);
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
section{
    padding: 5rem 0;
}

/*reusble continer*/

.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.btn{
    color: #fff;
    font-size: 2rem;
    
    
    padding: .5rem .3rem;
    border: none;
    border-radius: 10rem;
}

.btn-gradient{
    background-color: rgba(53, 10, 79, .7);
}

/*searching style*/

.searching{
    background-image: var(--purple-light);
}

.search-group{
    margin-bottom: 1.5rem;
}

.input-label{
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-btn{
    margin-top: 2.5rem;
    cursor: pointer;
}

.btn-purple{
    background-color: var(--purple-solid);
}

.btn-purple:hover{
    background-color: #56247f;
}



/*hederstyle*/

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--purple-transparent);
    z-index: 999; 
}

/*hederstyle nav*/

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    max-width: 18%;

}

.hamburger-menu{
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}

.hamburger-menu .fa-times{
    display: none;
    
}
.menu-open .hamburger-menu .fa-times{
    display: block;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--purple-solid);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
}

.menu-open.nav-list{
    opacity: 1;
    transform: scale(1);
}


.nav-iteam:not(:last-child){
    margin-bottom: .5rem;

}


.nav-link{
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}

/*hero section*/
.hero{
    width: 100%;
    height: 100vh;
    background: url("./img/background1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--purple-transparent-alt);
    z-index: -1;
}


.main-heading{
    color: #fff;
    line-height: 1;
    text-shadow: 10x 10x 1rem rgba(0, 0, 0, .5);
    margin-bottom: 2.5rem;
}

.title{
    font-size:5rem ;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle{
    font-size: 2rem;
    font-weight: 300;
    font-family: cursive;
    padding: .5rem .3rem;
}

/*login section style*/
.login{
    background: url("./img/background1.jpg");
    width: 100%;
    height: 100vh;
    background: url("./img/background1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.login::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--purple-transparent-alt);
    z-index: -1;

}

.user-pass{
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px; 
    display: block;
}


/*searching style*/

.search{
    width: 100%;
    height: 100vh;
    background: url("./img/background1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.search::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--purple-transparent-alt);
    z-index: -1;
}

.ev-loc{
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px; 
}

@media screen and (min-width: 1000px){

    .hamburger-menu{
        display: none;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        flex-direction: row;
        justify-content: initial;
        opacity: 1;
        transform: scale(1);
    }

    .nav-iteam:not(:last-child){
        margin-right: 3rem;
        margin-bottom: 0;
    }

    .nav-link{
        font-size: 1.3rem;
        font-weight: normal;
        transition: color .5s;
    }

    .nav-link:hover{
        color: var(--yellow-solid);
    }
}

/*reviewstyle*/

